name: Deploy to GKE
on:
  push:
    branches:
      - main

env:
  PROJECT_ID: complete-agency-405117
  GKE_CLUSTER: pejomi-test-cluster
  GKE_ZONE: europe-north1
  DEPLOYMENT_NAME: pejomi-tester

jobs:
  setup-build-publish-deploy:
    name: Setup, Build, Publish, and Deploy to GKE
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    # Setup gcloud CLI
    - uses: google-github-actions/setup-gcloud@v1
      with:
        version: '>= 363.0.0'
    # Configure Docker to use the gcloud command-line tool as a credential
    - run: |-
        gcloud --quiet auth configure-docker
    # Get the GKE credentials so we can deploy to the cluster
    - uses: google-github-actions/get-gke-credentials@fb08709ba27618c31c09e014e1d8364b02e5042e
      with:
        cluster_name: ${{ env.GKE_CLUSTER }}
        location: ${{ env.GKE_ZONE }}
        credentials: ${{ secrets.GKE_CREDENTIAL }}
    # Deploy to the GKE cluster
    - name: Deploy
      run: |-
        kubectl apply -f deployment.yaml